.headerContainer {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
top:0;
color: #999999
}
.Tdteste{
color: #ee3424;
}

.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuHeader{
    margin-right: 40px;
    display:flex;
    flex-direction: row;

}
